In [62]:
# $ o u l $ h i f t e r

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [63]:
# load dataset

db = pd.read_csv("/home/vic/Kaggle/amazon_food_review/Reviews.csv")

In [64]:
# check basic insights of data

db.head()
db.describe()
db.columns
db.dtypes

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>ProductId</th>
      <th>UserId</th>
      <th>ProfileName</th>
      <th>HelpfulnessNumerator</th>
      <th>HelpfulnessDenominator</th>
      <th>Score</th>
      <th>Time</th>
      <th>Summary</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>B001E4KFG0</td>
      <td>A3SGXH7AUHU8GW</td>
      <td>delmartian</td>
      <td>1</td>
      <td>1</td>
      <td>5</td>
      <td>1303862400</td>
      <td>Good Quality Dog Food</td>
      <td>I have bought several of the Vitality canned d...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>B00813GRG4</td>
      <td>A1D87F6ZCVE5NK</td>
      <td>dll pa</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1346976000</td>
      <td>Not as Advertised</td>
      <td>Product arrived labeled as Jumbo Salted Peanut...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>B000LQOCH0</td>
      <td>ABXLMWJIXXAIN</td>
      <td>Natalia Corres "Natalia Corres"</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1219017600</td>
      <td>"Delight" says it all</td>
      <td>This is a confection that has been around a fe...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>B000UA0QIQ</td>
      <td>A395BORC6FGVXV</td>
      <td>Karl</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1307923200</td>
      <td>Cough Medicine</td>
      <td>If you are looking for the secret ingredient i...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>B006K2ZZ7K</td>
      <td>A1UQRSCLF8GW1T</td>
      <td>Michael D. Bigham "M. Wassir"</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>1350777600</td>
      <td>Great taffy</td>
      <td>Great taffy at a great price.  There was a wid...</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>HelpfulnessNumerator</th>
      <th>HelpfulnessDenominator</th>
      <th>Score</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>568454.000000</td>
      <td>568454.000000</td>
      <td>568454.00000</td>
      <td>568454.000000</td>
      <td>5.684540e+05</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>284227.500000</td>
      <td>1.743817</td>
      <td>2.22881</td>
      <td>4.183199</td>
      <td>1.296257e+09</td>
    </tr>
    <tr>
      <th>std</th>
      <td>164098.679298</td>
      <td>7.636513</td>
      <td>8.28974</td>
      <td>1.310436</td>
      <td>4.804331e+07</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>1.000000</td>
      <td>9.393408e+08</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>142114.250000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>4.000000</td>
      <td>1.271290e+09</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>284227.500000</td>
      <td>0.000000</td>
      <td>1.00000</td>
      <td>5.000000</td>
      <td>1.311120e+09</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>426340.750000</td>
      <td>2.000000</td>
      <td>2.00000</td>
      <td>5.000000</td>
      <td>1.332720e+09</td>
    </tr>
    <tr>
      <th>max</th>
      <td>568454.000000</td>
      <td>866.000000</td>
      <td>923.00000</td>
      <td>5.000000</td>
      <td>1.351210e+09</td>
    </tr>
  </tbody>
</table>
</div>

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

Id                         int64
ProductId                 object
UserId                    object
ProfileName               object
HelpfulnessNumerator       int64
HelpfulnessDenominator     int64
Score                      int64
Time                       int64
Summary                   object
Text                      object
dtype: object

In [65]:
# take only useful columns from dataset

db.drop(["ProductId", "UserId", "ProfileName", "HelpfulnessNumerator", "HelpfulnessNumerator", "HelpfulnessDenominator", "Time"],axis=1,inplace=True)
db.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Score</th>
      <th>Summary</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>5</td>
      <td>Good Quality Dog Food</td>
      <td>I have bought several of the Vitality canned d...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>1</td>
      <td>Not as Advertised</td>
      <td>Product arrived labeled as Jumbo Salted Peanut...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>4</td>
      <td>"Delight" says it all</td>
      <td>This is a confection that has been around a fe...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>2</td>
      <td>Cough Medicine</td>
      <td>If you are looking for the secret ingredient i...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>5</td>
      <td>Great taffy</td>
      <td>Great taffy at a great price.  There was a wid...</td>
    </tr>
  </tbody>
</table>
</div>

In [66]:
# shuffle dataset creating train set, validation set and test set
from sklearn.utils import shuffle
db = db.sample(frac=1).reset_index(drop=True)
db = db[:1000]
train = db.sample(frac=0.8, random_state=1).reset_index(drop=True)
test = db.loc[~db.index.isin(train.index)]

In [67]:
# check size of train, test and validation and check if all labels exist
len(train)
len(test)
train["Score"].unique()
test["Score"].unique()

800

200

array([5, 1, 4, 3, 2])

array([5, 4, 1, 3, 2])

In [68]:
# making target variable as score and dropping from train set
train_target = train.Score
test_target = test.Score
train.drop(["Score"], axis=1, inplace=True)
test.drop(["Score"], axis=1, inplace=True)
train.head()
test.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Summary</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>425472</td>
      <td>Lavazza Rules</td>
      <td>I grew up in America, but for the last 15 year...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>154077</td>
      <td>Healthy walnut snacks</td>
      <td>I try to be knowledgeable about food from day ...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>134851</td>
      <td>great flavor and pretty as a picture</td>
      <td>This is a LOT of peppercorns.  They're so pret...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4482</td>
      <td>Worst purchase ever on Amazon.  Not useable!!</td>
      <td>I purchased 6 boxes as gifts at $21 per box.  ...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>468755</td>
      <td>Very Good</td>
      <td>I bought this coffee for my dad for fathers da...</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Summary</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>800</th>
      <td>491961</td>
      <td>The best BBQ sauce</td>
      <td>Some people thing those who like this BBQ sauc...</td>
    </tr>
    <tr>
      <th>801</th>
      <td>102692</td>
      <td>Lots of Roses!</td>
      <td>Much more roses than I expected &amp; I was very p...</td>
    </tr>
    <tr>
      <th>802</th>
      <td>537807</td>
      <td>seafood boil</td>
      <td>It's better than trying to make one up on your...</td>
    </tr>
    <tr>
      <th>803</th>
      <td>80730</td>
      <td>Excellent, great for home cooking.</td>
      <td>I use this when cooking a variety of dishes li...</td>
    </tr>
    <tr>
      <th>804</th>
      <td>287311</td>
      <td>Delicious walnuts</td>
      <td>These glazed walnuts are really tasty. I mix t...</td>
    </tr>
  </tbody>
</table>
</div>

In [69]:
# preprocess text data
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
import re
from gensim.models.doc2vec import LabeledSentence
tokenizer = RegexpTokenizer(r'\w+')
STOP_WORDS = stopwords.words("english")
all_text_train = train["Text"]
all_text_test = test["Text"]
stemmer = PorterStemmer()


def cleantext(text):
    tagged_doc = []
    for index, i in enumerate(text):
        text_lower = i.lower()
        tokens = tokenizer.tokenize(text_lower)
        text_stop = [word for word in tokens if word not in STOP_WORDS]
        text_num_free = [re.sub(r'[\d]','',i) for i in text_stop]
        text_stemmed = [stemmer.stem(word) for word in text_num_free]
        text_len = [word for word in text_stemmed if len(word)>1]
        text_tag = LabeledSentence(words=text_len, tags=[index])
        tagged_doc.append(text_tag)
    return tagged_doc

In [70]:
# clean training set text
docs_train = cleantext(all_text_train)
docs_test = cleantext(all_text_test)

In [71]:
#check document
docs_train[0]

LabeledSentence(words=['grew', 'america', 'last', 'year', 'live', 'europ', 'gener', 'manag', 'european', 'divis', 'multin', 'food', 'compani', 'sell', 'coffe', 'live', 'europ', 'develop', 'keen', 'interest', 'excel', 'coffe', 'serv', 'europ', 'br', 'br', 'peopl', 'say', 'illi', 'brand', 'best', 'br', 'br', 'lavazza', 'make', 'finest', 'coffe', 'period', 'well', 'worth', 'premium', 'price'], tags=[0])

In [72]:
# train model doc2vec-dm
from gensim.models.doc2vec import Doc2Vec
import multiprocessing
cores = multiprocessing.cpu_count()


def train_doc2vec_model(tagged_docs):
    model = Doc2Vec(dm=1, size=300, window=10, min_count=2, workers=cores, alpha=0.025, min_alpha=0.025)
    model.build_vocab(tagged_docs)
    model.train(tagged_docs, epochs=10, total_examples=model.corpus_count)
    return model

In [73]:
# training
model_train = train_doc2vec_model(docs_train)
model_test = train_doc2vec_model(docs_test)

In [74]:
# checking embedded vector
len(model_train.docvecs[0])
len(model_test.docvecs[0])

300

300

In [75]:
# need to vectorize comments for input to classifier
def vectorize_comments(df, model):
    comments = []
    for i in range(df.shape[0]):
        comments.append(model.docvecs[i])
    return comments

In [76]:
# creating a dataframe with vectorized comments
input_form_train = vectorize_comments(train, model_train)
input_form_train = np.asarray(input_form_train)
input_form_test = vectorize_comments(test, model_test)
input_form_test = np.asarray(input_form_test)

In [77]:
# feature extracted from PV-DM, training a classifier for classification
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
def train_classifier(X,y):
    forest = RandomForestClassifier()
    n_estimators = [250, 300]
    min_samples_split = [2, 5]
    min_samples_leaf = [1, 2, 5]
    max_features = ['sqrt', 'log2']
    n_jobs = [-1]
    parameter_grid = {'n_estimators': n_estimators, 'min_samples_leaf': min_samples_leaf, 'min_samples_split': min_samples_split,
                      'n_jobs': n_jobs, 'max_features': max_features}
    cv = StratifiedKFold(n_splits=5)
    clf = GridSearchCV(forest, param_grid = parameter_grid, scoring='accuracy', cv = cv)
    clf.fit(X,y)
    return clf

In [78]:
# getting the classifier
clf = train_classifier(input_form_train, train_target)

In [79]:
# evaluating results
clf.best_score_
clf.best_estimator_
clf.best_params_

0.65000000000000002

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=250, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

{'max_features': 'sqrt',
 'min_samples_leaf': 5,
 'min_samples_split': 5,
 'n_estimators': 250,
 'n_jobs': -1}

In [80]:
# checking accuracy score on test set
from sklearn.metrics import accuracy_score
pred = clf.predict(input_form_test)
accuracy_score(test_target, pred)

0.68500000000000005

In [86]:
# checking using xgboost
import xgboost as xgb
def train_classifier_xgb(X,y):
    xgbclf = xgb.XGBClassifier()
    learning_rate = [0.01]
    n_estimators = [250, 300]
    gamma = [0.05]
    max_depth = [3, 5]
    min_child_weight = [1, 3]
    subsample = [0.6]
    reg_alpha = [0, 0.1]
    n_jobs = [-1]
    cv = StratifiedKFold(n_splits=5)
    parameter_grid = {'learning_rate': learning_rate, 'n_estimators': n_estimators, 'gamma': gamma, 'max_depth': max_depth, 'min_child_weight': min_child_weight, 'subsample': subsample,
                      'reg_alpha': reg_alpha, 'n_jobs': n_jobs}
    clf = GridSearchCV(xgbclf, param_grid=parameter_grid, scoring='accuracy', cv=cv)
    clf.fit(X,y)
    return clf

In [87]:
# getting xgb classifier
xgb_clf = train_classifier_xgb(input_form_train, train_target)

In [88]:
# checking stats
xgb_clf.best_score_
xgb_clf.best_estimator_

0.65249999999999997

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0.05, learning_rate=0.01,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=250, n_jobs=-1, nthread=None,
       objective='multi:softprob', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=0.6)

In [ ]:
# predicting results from xgb
pred_xgb = xgb_clf.predict(input_form_test)
accuracy_score(test_target, pred_xgb)

0.68500000000000005